<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692514938895-737qe1iopolmmmfnt66spmg87miu1meu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692514938895-737qe1iopolmmmfnt66spmg87miu1meu</string>
	<key>API_KEY</key>
	<string>AIzaSyDFLOlSMl9lcPAi98r55S0CgdsQ-jh-bGM</string>
	<key>GCM_SENDER_ID</key>
	<string>692514938895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Khamidullin.swift.MyWeather</string>
	<key>PROJECT_ID</key>
	<string>myweather-22e78</string>
	<key>STORAGE_BUCKET</key>
	<string>myweather-22e78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692514938895:ios:f422e5720c68cc3294437a</string>
</dict>
</plist>